.popup__container {
  width: 430px;
  max-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 37px;
  box-sizing: border-box;

}

@media screen and (max-width: 620px) {
  .popup__container {
    width: calc(100% - 38px);
    max-width: 360px;
    max-height: 322px;
    padding: 25px 0;
  }
}